<!DOCTYPE html>
<html lang="en">
 <% include ./partials/head.ejs %>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">

        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="#hero">LCWD</a></h1>
      </div>
 <% include ./partials/navbar.ejs %>
  <% include ./partials/messages.ejs %>
    </div>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Lost Coast Web Develoment</h1>
      <h2>Building integrated business solutions on the Lost Coast</h2>
      <a href="#about" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- #hero -->

  <main id="main">


    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Why Choose Us?</h2>
            <p>
            As long time residents we understand the community and its needs.
             We are commited to helping you solve problems and grow your bussiness.
            </p>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-line-chart"></i></div>
              <h4 class="title">Strategy and Planning</h4>
              <p class="description">We start by analyzing your bussiness and identifying strengths and weaknessess.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-building"></i></div>
              <h4 class="title">Flexible Architecture</h4>
              <p class="description">Get the features you need to streamline your processess. Solutions that grow along with your bussiness</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-level-up"></i></div>
              <h4 class="title">Optimization</h4>
              <p class="description">Ongoing maintenance and Search Engine Optimization ensure you stay in the mix</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section><!-- #about -->



    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeIn">
        <div class="section-header">
          <h3 class="section-title">Services</h3>
          <p class="section-description">Check out some of our services</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="box">
              <div class="icon"><i class="fa fa-desktop"></i></div>
              <h4 class="title">Responsive Web Design and Develoment</h4>
              <p class="description">Great looking functional websites built with the latest technologies</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="box">
              <div class="icon"><i class="fa fa-mobile-phone"></i></div>
              <h4 class="title">Mobile App Development</h4>
              <p class="description">Build an app for your bussiness or deploy it to an app store </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><i class="fa fa-dollar"></i></div>
              <h4 class="title">E-Commerce Platform Development</h4>
              <p class="description">Custom E-commerce stores for your product or service</p>
            </div>
          </div>


    </section><!-- #services -->

    <!--==========================
    Call To Action Section
    ============================-->
    <section id="call-to-action">
      <div class="container wow fadeIn">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Is your website outdated?</h3>
            <p class="cta-text">Your website is the face your company shows the world. Don't neglect it!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#contact">Get a Free Quote</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Portfolio</h3>
          <p class="section-description">Have a look at some of our projects</p>
        </div>


        <div class="row" id="portfolio-wrapper">


          <div class="col-lg-4  portfolio-item filter-web">
            <a href="https://cristiangpr-cropdoc.herokuapp.com/" target="_blank">
              <img src="img/portfolio/cropdoc.png" alt="">
              <div class="details">
                <h4>The Crop Doctor</h4>
                <span>Local bussiness site</span>
              </div>
            </a>

          </div>

          <div class="col-lg-4 portfolio-item filter-web">
            <a href="https://cristiangpr-bloccit.herokuapp.com/" target="_blank">
              <img src="img/portfolio/bloccit.png" alt="">
              <div class="details">
                <h4>Bloccit</h4>
                <span>Reddit style site</span>
              </div>
            </a>
          </div>

                    <div class="col-lg-4 portfolio-item filter-web">
                      <a href="https://cristiangpr-loco-jams-b.herokuapp.com/" target="_blank">
                        <img src="img/portfolio/jams.png" alt="">
                        <div class="details">
                          <h4>Loco Jams</h4>
                          <span>Demo React music app</span>
                        </div>
                      </a>
                    </div>

                    <div class="col-lg-4 portfolio-item filter-web">
                      <a href="https://cristiangpr-loco-chat-react.herokuapp.com/" target="_blank">
                        <img src="img/portfolio/chat.png" alt="">
                        <div class="details">
                          <h4>Loco Chat</h4>
                          <span>Demo React chat app</span>
                        </div>
                      </a>
                    </div>
        </div>



    </section><!-- #portfolio -->

    <!--==========================
      pricingSection
    ============================-->

    <section id="pricing" class="home-section bg-gray paddingbot-60">
      <div class="section-header">
        <h3 class="section-title">Pricing</h3>
        <p class="section-description">Pricing is dependant on features. Here are some popular packages. Contact us to get a free quote.<br>
                                       Non profit discount available. Send us a message to learn more!</p>

      </div>

      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-4 pricing-box">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
              <div class="pricing-content general">
                <h2>Bussiness Card Website</h2>
                <h3>$299<sup>.99</sup> </h3>
                <ul>
                  <li>Responsive design that looks great on any device<i class="fa fa-check icon-success"></i></li>
                  <li>Cool animations<i class="fa fa-check icon-success"></i></li>
                  <li>Contanct form sends message to your e-mail <i class="fa fa-check icon-success"></i></li>

                </ul>

                <div class="price-bottom">
                  <a href="#contact" class="btn btn-skin btn-lg">Purchase</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 pricing-box">
            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <div class="pricing-content general">
                <h2>Small Bussiness Website</h2>
                <h3>499<sup>.99</sup></h3>
                <ul>
                  <li>Multiple Pages<i class="fa fa-check icon-success"></i></li>
                  <li>Multiple E-mail addresses<i class="fa fa-check icon-success"></i></li>
                  <li>Blog page engages your clients<i class="fa fa-check icon-success"></i></li>
                  <li>Social media integration<i class="fa fa-check icon-success"></i></li>

                </ul>

                <div class="price-bottom">
                  <a href="#contact" class="btn btn-skin btn-lg">Purchase</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 pricing-box">
            <div class="wow fadeInUp" data-wow-delay="0.6s">
              <div class="pricing-content general last">
                <h2>Full Featured Website</h2>
                <h3>$1000<sup>.00</sup> <span>/ and up</span></h3>
                <ul>
                  <li>E-commerce <i class="fa fa-check icon-success"></i></li>
                  <li>Video blogging<i class="fa fa-check icon-success"></i></li>
                  <li>Paid membership<i class="fa fa-check icon-success"></i></li>
                  <li>Admin dashboard<i class="fa fa-check icon-success"></i></li>
                </ul>

                <div class="price-bottom">
                  <a href="#contact" class="btn btn-skin btn-lg">Purchase</a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h3 class="section-title">Contact</h3>
          <p class="section-description">We'd love to hear from you!</p>
        </div>
      </div>

      <!-- Uncomment below if you wan to use dynamic maps -->
<!--      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

  -->    <div class="container wow fadeInUp mt-5">
        <div class="row justify-content-center">

          <div class="col-lg-3 col-md-4">

            <div class="info">
              <div>
                <i class="fa fa-map-marker"></i>
                <p>P.O. Box 579<br>Whitethorn, California 95589</p>
              </div>



              <div>
                <i class="fa fa-phone"></i>
                <p>707-223-6317</p>
              </div>
            </div>


          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">

              <form action="messages/create" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="content" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
 <% include ./partials/footer.ejs %>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
 <% include ./partials/basescripts.ejs %>

</body>
</html>
