<!DOCTYPE html>
<html lang="en">
 <% include ../static/partials/head.ejs %>

<body>

  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">

        <!-- Uncomment below if you prefer to use a text logo -->
        <h1><a href="/#hero">LCWD</a></h1>
      </div>
 <% include ../static/partials/navbar.ejs %>

    </div>
      <% include ../static/partials/messages.ejs %>
  </header><!-- #header -->

  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Lost Coast Web Development</h1>
      <h2>Building integrated bussiness solutions on the Lost Coast</h2>
      <a href="#about" class="btn-get-started">Messages</a>
    </div>
  </section><!-- #hero -->

  <main id="main">

    <h1>Messages</h1>

       <ul class="list-group">
 <!-- #1 -->
         <% messages.forEach((message) => { %>
 <!-- #2 -->
           <li class="list-group-item">
             <a href="/messages/<%= message.id %>"> <%= message.name %> </a>
           </li>
         <% }) %>
       </ul>


  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>LCWD</strong>. All Rights Reserved
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- #footer -->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
 <% include ../static/partials/basescripts.ejs %>

</body>
</html>
